
body { background-color: pink}

#namePage{
    color: gray(67);
    font-size: 250%;
    text-align: center;
    text-decoration: underline;
    font-family: Bradley Hand, cursive;
}

#list{
    color: gray(45);
    font-size: 150%;
    text-align: left;
    padding: 15px;
    font-family: FreeMono, monospace;
}

#cities {
    color: gray(67);
    font-size: 250%;
    text-align: center;
    font-family: Brush Script MT, Brush Script Std, cursive;
    margin-top: 2%;
}

#button, #button1, #buttonBack, #buttonSave, #buttonBack1, #buttonSave1 {
    border-color: #2f0224;
    border-style: solid;
    border-width: 3px;
    padding: 4px 11px 6px;
    text-rendering: geometricPrecision;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-weight: 900;
    font-size: 110%;
    color: #262525;
    display: inline-block;
    text-align: start;
    margin: 4em;
}

#columns {
    color: gray(67);
    font-size: 140%;
    text-align: center;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-weight: 200;
}

#actions {
    color: gray(34);
    font-size: 160%;
    text-align: center;
    text-decoration: underline;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-weight: 300;
    margin-top: 5%;
    padding: 60px;
}

#delete-handler, #edit {
    padding: 4px 11px 6px;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-weight: 900;
    font-size: 110%;
    color: #730101;
    margin: 2em;
}

#cityData{
    color: gray(69);
    font-size: 120%;
    text-align: center;
    font-family: Brush Script MT, cursive;
    font-weight: 170;
    border: 1px solid #2f0224;
    padding: 10px;
}

#toolbar {
    padding: 4px 11px 6px;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-weight: 800;
    font-size: 100%;
    color: #3d0231;
    margin: 2em;
}

#navigation {
    color: gray(67);
    font-size: 105%;
    text-align: left;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-weight: 200;
}
#add-form, #edit-form{
    color: gray(67);
    font-size: 105%;
    text-align: left;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-weight: 200;
}
